/* Project component css */

h1 {
  color: var(--deep-brown);  
}

h2 {
  margin-top: 0;
  color: var(--deep-brown);
}

p {
  margin-bottom: 6%;
  text-align: left;
  color: var(--deep-brown);
}

.project-image {
  width: 25rem;
  height: 225px;
  border-radius: 0.5rem;
  display: block;
  z-index: 0
}

.project-image-container {
  width: auto; 
  height: auto;
  position: relative;
  display: inline-block;
}


.project-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b6a6aa; /* White overlay */
  mix-blend-mode: multiply; /* Blend mode */
  border-radius: 0.5rem;
  z-index: 1;
}

.project-image-container:hover::before {
  background: #b6a6aaad; /* White overlay */

}

.project-card {
  padding: 3rem 0 ;

  display: flex;
  border-bottom: 1px solid var(--earthy-brown);

}

.project-text {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-links a {
  margin: 0;
  color: white;
  font-weight: bold;
}

.link-divider {
  margin: 0 0.4rem;
}

.project-link {
  position: relative; 
  transition: all 0.3s ease-in-out;

}

.project-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px; /* Height of the underline */
  bottom: 0;
  left: 0;
  background-color: rgba(35, 116, 160, 0.946);
  visibility: hidden;
}

.project-link:hover::after {
  visibility: visible;
  width: 100%;
}

/* responsiveness */
/* medium screen */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-text {
    margin: 0;
  }

  .project-image-link {
    margin: 0;
  }
  
}

/* small screen */
@media (max-width: 566px) {
  .project-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-text {
    margin: 0;
  }

  .project-image-link {
    margin: 0;
  }
  
}

/* iphone */
@media (max-width: 390px) {
  .project-image {
    width: 20rem;
    height: 220px;
    border-radius: 0.5rem;
    display: block;
    z-index: 0
  }
  
  .project-image-container {
    width: auto; 
    height: auto;
    position: relative;
    display: inline-block;
  }
  
}