/* contact css */

h2 {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 0;
  color: var(--deep-brown);
}

p {
  margin: 1rem 0;
}

.contact-container {
  display: flex;
  gap: 2rem;
  margin: 5% 10%;
  min-height: 100vh;
  
}

.contact-intro {
  margin: 1.5rem 0;
}

.contact-details {
  display: flex;
  gap: 1rem;
  
}

.contact-links {
  text-align: left;
  font-size: 2rem;
  margin: 2rem 0;
}

.send-button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.6em 1.2em;
}

/* responsiveness */
@media (min-width: 1600px) and (max-width: 2200px) {
  /* Styles for large devices */
  .contact-container {
    flex-direction: column;
  }
}

@media (min-width: 390px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .contact-container {
    flex-direction: column;
  }
}
