/* Home.css */

.home-section {
  min-height: 100vh;
  margin: 0 2em;
}

.text-container h1 {
  margin-top: 0;
  color: white;
}

.header-container {
  display: flex;
  margin: 3em 0;

}

.text-container {
  width: 60%;
  margin: 0;
}

.greetings {
  text-align: left;
  font-size: 1.2em;
}

.brand-statement {
  text-align: left;

}

/* profile pic */
.jenny-headshot {
  width: 30%;
  height: auto;
  border-radius: 0.5em;
  box-shadow: 10px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

/* about me */

h2 {
  text-align: left;
  margin: 2em 0;
  color: var(--deep-brown);
}

.about-me {
  margin: 7% 0 !important;
  text-align: left
}

.resume-link {
  margin: 2em 0;
  font-size: 1em;
  text-decoration: underline;

}

/* responsiveness */

@media (min-width: 1600px) and (max-width: 2200px) {
  /* Styles for large devices */
  .home-section {
    min-height: 100vh;
    /* width: 1500px; */
    /* margin: auto; */
  }

}


@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* On smaller screens, switch to a column layout */
  }

  .text-container {
    width: 90%; /* On smaller screens, make the text container take up the full width */
  }

  .jenny-headshot {
    width: 40%;
    margin-top: 2em; /* Remove the space between text and image on smaller screens */
  }

  .about-me {
    width: 90%;
    margin: 5%;
    padding-bottom: 10%;
  }
}