/* Home.css */

.text-container h1 {
  margin-top: 0;
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20%; */
}

.text-container {
  width: 60%;
  margin: 0 20px;
}

.greetings {
  text-align: left;
  font-size: 1.2rem;
}

.brand-statement {
  text-align: left;

}

/* profile pic */
.jenny-headshot {
  width: 20%;
  border-radius: 0.5rem;
}

/* about me */

h2 {
  text-align: left;
  margin: 2rem 0;
  color: var(--deep-brown);
}
.about-me {
  margin: 5% 10%;
  text-align: left
}