/* header css */

.bg-body-tertiary {
  /* colour */
  background-color: var(--peachy-tan) !important;
}

.navbar {
  background-color: var(--deep-brown) !important;
  width: 100% !important;
  justify-content: center;
}

.navbar > .container {
  margin: 1rem;
  background-color: var(--deep-brown) !important;
}

.nav-link {
  /* colour */
  color: white;
}

.brand-name {
  font-family: "Fraunces", Helvetica, Arial, sans-serif;
  color: wheat;
}

/* responsiveness */
@media (max-width: 768px) {
  .navbar {
    background-color: var(--deep-brown) !important;
    width: 100% !important;
  }
}