/* header css */

.divider {
  padding: 0;
  margin: 0.6em;
  color: white;
}
.bg-body-tertiary {
  /* colour */
  background-color: var(--peachy-tan) !important;
}

.navbar {
  background-color: var(--deep-brown) !important;
  width: 100% !important;
  justify-content: center;
}

.navbar > .container {
  margin: 0.4rem;
  background-color: var(--deep-brown) !important;
}

.nav-link {
  position: relative; /* Add this line */
  /* colour */
  color: wheat;
  transition: color 0.3s ease-in-out; /* Add this line for color transition */

}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px; /* Height of the underline */
  bottom: 0;
  left: 0;
  background-color: rgba(35, 116, 160, 0.946)!important;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

.nav-link:hover {
  /* colour */
  color: rgba(35, 116, 160, 0.946)!important;
}

.nav-link:visited {
  /* colour */
  color: wheat;
}

.brand-name {
  font-family: "Fraunces", Helvetica, Arial, sans-serif;
  color: wheat;
}

.brand-name:visited {
  color: wheat; /* Set the color for visited links */
}

.brand-name:hover {
  color: rgba(35, 116, 160, 0.946)!important;
}

/* responsiveness */
@media (max-width: 768px) {
  .navbar {
    background-color: var(--deep-brown) !important;
    width: 100% !important;
  }
}