:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* colour pelette */
  --earthy-brown: #9A5A31;
  --lavender-grey: #756C73;
  --deep-brown: #2B1D14;
  --peachy-tan: #C1886F;
  --red-brown: #643A1C;
  --rose-tinted-grey: #b6a6aa;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  transition: border-color 0.25s;
}
a:hover {
  color: rgba(35, 116, 160, 0.946);

}

body {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  margin: 0 10%;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* colour */
  background-color: var(--peachy-tan);
  color: var(--deep-brown);

}

h1 {
  font-family: "Fraunces", Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: "Fraunces", Helvetica, Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: transparent !important;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--red-brown) !important;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: var(--earthy-brown) !important;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.3);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
